streamlit
langchain
langchain-core
langchain-community
langchain-pinecone
langchain-huggingface
langchain-groq
pinecone-client
huggingface-hub
pypdf
python-dotenv
tqdm
numpy
sentence-transformers
docx2txt
openpyxl